<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ChatBuy - интеллектуальный подбор для любой цели</title>
    <link rel="stylesheet" href="styles/styles.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="scripts/functions.js"></script>
</head>
<body>
    <div class="chat-container">
        <div class="chat-box">
            <div class="messages">
                <!--<div class="message message-bot">Привет, я ChatBuy бот! Напиши свою задачу, и я попробую сказать, что тебе нужно!</div>
                <div class="message message-bot">
                    <div class="accordion">
                        <button class="accordion-button"></button>
                        <div class="accordion-content">
                            <div class="block">
                                <div class="card">
                                    <img src="path/to/image1.jpg" alt="Товар 1">
                                    <h3>Название товара 1</h3>
                                    <p>Цена: 1000 ₽</p>
                                </div>
                                <div class="card">
                                    <img src="path/to/image2.jpg" alt="Товар 2">
                                    <h3>Название товара 2</h3>
                                    <p>Цена: 2000 ₽</p>
                                </div>
                            </div>
                            <div class="block">
                                <div class="card">
                                    <img src="path/to/image3.jpg" alt="Товар 3">
                                    <h3>Название товара 3</h3>
                                    <p>Цена: 1500 ₽</p>
                                </div>
                                <div class="card">
                                    <img src="path/to/image4.jpg" alt="Товар 4">
                                    <h3>Название товара 4</h3>
                                    <p>Цена: 2500 ₽</p>
                                </div>
                            </div>
                            <div class="block">
                                <div class="card">
                                    <img src="path/to/image5.jpg" alt="Товар 5">
                                    <h3>Название товара 5</h3>
                                    <p>Цена: 3000 ₽</p>
                                </div>
                                <div class="card">
                                    <img src="path/to/image6.jpg" alt="Товар 6">
                                    <h3>Название товара 6</h3>
                                    <p>Цена: 3500 ₽</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>          -->
            </div>
            <div class="message-form">
                <input type="text" id="message-input" placeholder="Введите ваше сообщение..." autocomplete="off">
                <button id="send_button"><b>Отправить</b></button>
            </div>
        </div>
    </div>
</body>
</html>
